<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hausaufgabe 3 Login</title>
    </head>
    <body>
        <form action="/logginIn" method="POST">
            <label for="email">E-Mail-Adresse:</label><br>
            <input type="text" id="email" name="email" value=""><br><br>
            <label for="passwort">Passwort:</label><br>
            <input type="text" id="passwort" name="passwort" value=""><br><br>
            <input type="submit" value="Login">
        </form><br>
        <form action="/register">
            <input type="submit" value="Neuer Benutzer">
        </form>
    </body>
</html>