<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Fehlgeschlagen</title>
    </head>
    <body>
        <p>Anmeldung fehlgeschlagen!</p>
        <a href="/login">Erneut versuchen!</a>
    </body>
</html>